<html>
<head>
	<title>DIGITALIZED TRANSPORT SERVICES</title>
	<link rel="stylesheet" type="text/css" href="semantic.min.css">
	<link rel="stylesheet" typ="text/css" href="3D-DS.css">
</head>

<body style="background-color: #82d3ff;  ">
<div class="header">
<!--<div class="ui red raised segment">
<form class="ui form">
<table style="margin-left:35%;">
<tr> 
	<td>
		<span style="font-size:25px;">First Name :</span>
</td>
	<td> 
		<input type="text" name="firstname" placeholder="name" style="border-radius: 10px;width: 160%;height: 30px;">
	</td>
</tr> 
<br><br>
<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
<tr>
	<td>
		<span style="font-size:25px";>Last Name :</span>
	</td>
	<td>
		<input type="text" name="Lastname" placeholder="last name" style="border-radius: 10px;width: 160%;height: 30px;">
	</td>
</tr>
<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
<tr>
	<td>
		<span style="font-size:25px";>Phone :</span>
	</td>
	<td>
		<input type="number" name="number" placeholder="9553155187" style="border-radius: 10px;width: 160%;height: 30px;">
	</td>
</tr>
<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
<tr>
	<td>
		<span style="font-size:25px";>DOB :</span>
	</td>
	<td> 
		<input type="date" name="dob" placeholder="03/12/2000" style="border-radius: 10px;width: 160%;height: 30px;">
	</td>
</tr>
</table>
</div>

<div style="margin-top:20%; margin-left:50%;">
	<button class="ui green button" type="submit">Register</button>
</div>
</form>
</div>-->
	<div class="ui stackable grid">
		<div class="five wide column"></div>
		<div class="six wide column">
			<div class="ui raised teal segment">
			<div class="ui blue raised segment centered header">
				3G-DTS
			</div>
			<div class="ui raised red segment">
				<a class="ui red ribbon label">Registration</a><br><br>
				<form class="ui form" method="post" action='/lavan'>
					<div class="ui field">
						<label>Firstname</label>
						<input type="text" name="fname" required placeholder="enter your firstname">
					</div>
					<div class="ui field">
						<label>Lastname</label>
						<input type="text" name="lname" required placeholder="enter your lastname">
					</div>
					<div class="ui field">
						<label>Aadhar Number</label>
						<input type="text" name="uid" required placeholder="enter your Aadhar number">
					</div>
					<div class="ui field">
						<label>Phone</label>
						<input type="text" name="phno" placeholder="enter your phone number">
					</div>
					<div class="ui field">
						<label>DOB</label>
						<input type="date" name="dob">
					</div>
					<div class="ui field">
						<button class="ui blue button" style="margin-left: 40%;" type="submit">Register</button>
					</div>
				</form>
			</div>
		</div>
		</div>
	</div>
</body>
</html>